<div class="max-height">
    <ars-row [height]="30"></ars-row>

    <p>
      »frag.jetzt« wird vom Land Hessen im Rahmen des <abbr title="Hessisches Ministerium für Wissenschaft und Kunst">
      HMWK
    </abbr>-Verbundprojekts
      <a href="https://www.digll-hessen.de/de" target="_blank">»Digital gestütztes Lehren und Lernen in Hessen«</a>
      (digLL) gefördert.<br>
      <br>
    </p>

    <ars-row ars-flex-box style="justify-content:left;flex-wrap: wrap">
      <img src="https://arsnova.thm.de/blog/wp-content/uploads/2015/07/HMWK-Logo-300x136.png" alt="HMWK-Logo"
           width="150" height="68"style="float:left;">
      <ars-col></ars-col>
      <img src="https://digll.studiumdigitale.uni-frankfurt.de/files/2019/06/digLL_Logo_small.png" alt="digLL-Logo"
           width="150" height="68" style="float:left;">
      <ars-fill></ars-fill>
    </ars-row>
    <ars-row [height]="20"></ars-row>

    <p>
      <a href="https://arsnova.thm.de/blog/wp-content/uploads/2019/09/Projektantrag-DigLL@THM-frag_jetzt.pdf"
         target="_blank">Projektskizze zu »frag.jetzt«</a>
    </p>

    <ars-row [height]="50"></ars-row>
    <h2>
      Erklärung zur Zugänglichkeit von »frag.jetzt«
    </h2>
    <p>
      »frag.jetzt« setzt sich für die digitale Zugänglichkeit von Menschen mit Handicaps ein.
      Wir verbessern kontinuierlich die Benutzerfreundlichkeit für alle und wenden die relevanten
      Barrierefreiheitsstandards an.
    </p>
    <ars-row [height]="50"></ars-row>
    <h2>
      Konformitätsstatus
    </h2>
    <p>
      Die <a href="https://www.w3.org/WAI/standards-guidelines/wcag/">Web Content Accessibility Guidelines (WCAG)</a>
      definieren Anforderungen an Designer und Entwickler, um den Zugang für Menschen mit Behinderungen zu verbessern.
      Es definiert drei Stufen der Konformität: Level A, Level AA und Level AAA. »frag.jetzt« ist teilweise konform mit
      WCAG 2.1 Level AA. Teilkonform bedeutet, dass einige Teile des Inhalts nicht vollständig dem Standard für
      Barrierefreiheit entsprechen.
    </p>
    <ars-row [height]="50"></ars-row>
    <h2>Feedback</h2>
    <p>
      Wir freuen uns über Ihr Feedback zur Barrierefreiheit von »frag.jetzt«.
      Bitte lassen Sie es uns wissen, wenn Sie auf Barrieren stoßen:
    </p>
    <p>
        <br>
      Telefon: +49 641 309-2450 <br><br>
        Mail:
        <a class="email u-email"
           href="mailto:test@test.deklaus.quibeldey-cirkel@transmit.de.klaus.quibeldey-cirkel@transmit.de.">
          klaus.quibeldey-cirkel@transmit.de.
        </a>
    </p>
    <ars-row [height]="50"></ars-row>
    <h2>Betreiber von »frag.jetzt«</h2>
    <p>
      Der Betrieb der <a href="https://github.com/thm-projects/frag.jetzt" target="_blank">Open-Source-Webanwendung</a>
      »frag.jetzt« ist eine kostenlose Dienstleistung
      (»Soft&shy;ware as a Service«) der TransMIT-Gesellschaft für
      Technologietransfer mbH, Projektbereich für mobile An&shy;wen&shy;dun&shy;gen.<br>
      <br>
      Kerkrader Straße 3<br>
      D-35394 Gießen<br>
      <br>
      c/o THM<br>
      Fachbereich Mathematik, Naturwissenschaften und Informatik<br>
      Prof. Dr. Klaus Quibeldey-Cirkel<br>
      Lehrstuhl für Softwaretechnik<br>
      <br>
      Wiesenstraße 14<br>
      D-35390 Gießen<br>
      <br>
      Telefon: <a href="tel:+49 641 309-2450">+49 641 309-2450</a><br>
      Mail: <a href="mailto:klaus.quibeldey-cirkel@transmit.de">klaus.quibeldey-cirkel@transmit.de</a>.<br>
      <br>
      Sitz der Gesellschaft: Gießen<br>
      Website: <a href="https://www.transmit.de">www.transmit.de</a><br>
      Rechtsform: GmbH<br>
      Amtsgericht: Gießen HRB 3036<br>
      USt-IdNr.: DE 188 685 037<br>
      <br>
    </p>
  </div>
